{:paths ["src"]

 :deps {org.clojure/clojure  {:mvn/version "1.11.1"}
        org.clojure/core.match {:mvn/version "1.0.1"}
        org.eclipse.lsp4j/org.eclipse.lsp4j {:mvn/version "0.12.0"}
        zen-lang/zen         {:git/url "https://github.com/zen-lang/zen"
                              :sha "06c94e575c9e8c348d13dc479c5ece2bbc91e983"}
        rewrite-clj/rewrite-clj {:mvn/version "1.0.682-alpha"}
        babashka/fs {:mvn/version "0.1.0"}}

 :aliases
 {:nrepl
  {:extra-paths ["dev"]
   :extra-deps  {cider/cider-nrepl #_:clj-kondo/ignore {:mvn/version "LATEST"}}

   :jvm-opts ^:replace ["-XX:-OmitStackTraceInFastThrow"]}

  :test-deps {:extra-paths ["test"]
              :extra-deps {healthsamurai/matcho {:mvn/version "0.3.7"}}
              :jvm-opts ^:replace ["-XX:-OmitStackTraceInFastThrow"]}

  :test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}

  :kaocha
  {:extra-deps {lambdaisland/kaocha  {:mvn/version "1.0-612"}}
   :extra-paths ["test"]
   :jvm-opts    ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts   ["-m" "kaocha.runner" "--config-file" "test/test.edn"]}

 :build ;; added by neil
 {:deps {io.github.clojure/tools.build {:git/tag "v0.6.8" :git/sha "d79ae84"}}
  :ns-default build}

  }}
